
.btn-blue {
  display: inline-block;
  background-color: #0a1f44;
  color: white;
  padding: 14px 24px;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  transition: 0.3s ease;
}

.btn-blue:hover {
  background-color: #c8102e;
}